<mat-toolbar color="primary" class="toolbar">
    <a routerLink="/home" mat-icon-button aria-label="Menú">
        <mat-icon>home</mat-icon>
    </a>
    <span>Notas productos Amazon</span>
    <span class="toolbar-spacer"></span>
    <a routerLink="/login" mat-icon-button aria-label="Inicio de sesión" title="Inicio de sesión">
        <mat-icon>login</mat-icon>
    </a>
    <a routerLink="/registro" mat-icon-button aria-label="Registro" title="Registro">
        <mat-icon>account_box</mat-icon>
    </a>
</mat-toolbar>