<mat-toolbar color="primary" class="toolbar">
    <a [routerLink]="hayUsuario()?'lista-productos':'/login'" mat-icon-button aria-label="Menú">
        <mat-icon>home</mat-icon>
    </a>
    <span>Notas productos Amazon</span>
    <span class="toolbar-spacer"></span>
    <a routerLink="/login" mat-icon-button aria-label="Inicio de sesión" title="Inicio de sesión" *ngIf="!hayUsuario()">
        <mat-icon>login</mat-icon>
    </a>
    <a routerLink="/usuario" *ngIf="hayUsuario()">{{user.nombre}} <mat-icon>account_box</mat-icon></a>
    <button type="button" mat-icon-button *ngIf="hayUsuario()" aria-label="Cerrar sesión" title="Cerrar sesión" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>