<div fxLayout="row wrap" fxLayoutGap="1em grid">
    <div fxFlex="33" fxFlex.xs="100" *ngFor="let producto of lista">
        <mat-card class="tarjeta-producto">
            <mat-card-header>
                <mat-card-title><span [matBadge]="producto.puntuacion"
                        matBadgeOverlap="false">{{producto.titulo}}</span></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <a mat-button [href]="producto.enlace" target="_blank" rel="noopener nofollow">Ir a Amazon</a>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="boton-anadir-producto">
    <button mat-fab (click)="addProducto()">
        <mat-icon>add</mat-icon>
    </button>
</div>