<div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex="30" fxFlex.md="50" fxFlex.sm="80" fxFlex.xs="90" class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>{{nota?'Modificar nota': 'Nueva nota'}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form fxLayout="column" fxLayoutAlign="center" [formGroup]="form" (ngSubmit)="grabarNota()">
                <mat-form-field fxFlex="90" appearance="fill">
                    <mat-label>Titulo</mat-label>
                    <input matInput required type="text" formControlName="titulo" />
                </mat-form-field>
                <mat-form-field fxFlex="90" appearance="fill">
                    <mat-label>Descripción</mat-label>
                    <input matInput type="text" formControlName="descripcion" />
                </mat-form-field>
                <mat-form-field fxFlex="90" appearance="fill">
                    <mat-label>Enlace</mat-label>
                    <input matInput required type="text" formControlName="enlace" />
                </mat-form-field>
                <mat-form-field fxFlex="90" appearance="fill">
                    <mat-label>Precio</mat-label>
                    <input matInput type="text" formControlName="precio" />
                </mat-form-field>
                <mat-form-field fxFlex="90" appearance="fill">
                    <mat-label>Puntuación</mat-label>
                    <input matInput type="text" formControlName="puntuacion" />
                </mat-form-field>
                <div fxFlex="100" fxLayout="row" fxLayoutAlign="end" class="panel-registro-buttons">
                    <a mat-flat-button routerLink="/lista-notas">Volver</a>
                    <button mat-flat-button type="submit" color="accent">Enviar</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>